[package]
name = "file-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
redis = {version="0.25.2", features = ["aio", "tokio-comp"]}
tokio = {version = "1.36.0", features = ["full"]}
