<configuration>
    <property resource="application.properties" />
    <appender name="TCP" class="ch.qos.logback.classic.net.SocketAppender">
        <remoteHost>${LOG_HOST}</remoteHost>
        <port>${LOG_PORT}</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="debug">
        <appender-ref ref="TCP"/>
    </root>
</configuration>