services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - stos-network

  file-server:
    build:
      context: .
      dockerfile: ./file-server/Dockerfile
    environment:
      - REDIS_ADDRESS=redis
      - RABBIT_ADDRESS=rabbitmq
    networks:
      - stos-network
    restart: on-failure
    volumes:
      - ./data:/build/data

  redis:
    image: redis:7.2-alpine
    networks:
      - stos-network

  logger:
    build: ./logger
    networks:
      - stos-network
    environment:
      - RABBIT_ADDR=rabbitmq

  evaluator:
    build:
      dockerfile: ./evaluator/Dockerfile
    networks:
      - stos-network
    depends_on:
      - rabbitmq
    ports:
      - "8080:5000"
    restart: on-failure

networks:
  stos-network:
